<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <!-- Exemplo de uso de um ícone -->
  <i class="fas fa-star"></i> <!-- Ícone de uma estrela -->

  <!-- Outro exemplo de uso de um ícone -->
  <i class="far fa-envelope"></i> <!-- Ícone de um envelope vazio -->

  <h1>{{ title }}</h1>
  <p>O jogo de xadrez é um dos jogos de tabuleiro mais populares e antigos do mundo. Sua história remonta a cerca de 1500 anos, e sua popularidade continua a crescer até os dias de hoje. O xadrez é um jogo de estratégia e habilidade que exige concentração, paciência e pensamento estratégico.</p>
</body>
</html>
